.container {
    background-color: #4c4c4c;
    width: 55%;
    margin: 50px auto; 
    padding: 20px;
    text-align: center;
}

h1 {
    color: #ececec;
}

body {
    background-color: #2f2f2f;
    margin-top: 35px;
    margin-bottom: 35px;

}


.info {
    text-align: justify;
    color: #c5c5c5;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 19px;
    line-height: 25px;
}


.links {
    color: #00bfff;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}